.header{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.header-title{
    margin-right: 50px;
}
.header-text{
    max-width: 60%;
}
.col{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 438px;
}
.card{
    width: 300px;
    margin: 10px 15px;
}
.card-body{
    display: flex;
    flex-direction: column;
}
.btn{
    align-self:flex-end;
    margin: 5px;
}
.card-title{
    align-self: center;
}